body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.fruits-word-color {
  color: #058cf7;
}
section {
  display: flex;
}
#sec-about {
  background-image: url(images/bg-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.link-button {
  color: white;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #85c5fa, #058cf7);
  text-decoration: none;
  border-radius: 50px;
  font-weight: 500;
  box-shadow: 2px 2px 10px #85c5fa;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}
div img {
  width: 80%;
}
.product-item-card {
  width: 25%;
  box-shadow: 5px 5px 45px rgba(128, 128, 128, 0.24);
  border-radius: 15px;
  align-items: center;
}
#product-id {
  display: flex;
  width: 100%;
}
