body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
.blue-color-word {
  color: salmon;
}
section {
  margin: 50px 0px;
}
.sec-flex {
  display: flex;
  align-items: center;
}
#sec-about p {
  width: 70%;
}
#sec-about {
  background-image: url(images/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
#sec-contact a {
  color: black;
  text-decoration: none;
}

#testimonials {
  padding: 20px;
  background-image: url(images/bg-testimonials.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.link-button {
  color: white;
  padding: 10px 20px;
  background-image: linear-gradient(to right, salmon, tomato);
  text-decoration: none;
  border-radius: 50px;
  font-weight: 500;
  box-shadow: 2px 2px 10px salmon;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.quarter-width {
  width: 35%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
section div img {
  width: 100%;
}
.product-item-card {
  box-shadow: 5px 5px 45px rgba(128, 128, 128, 0.24);
  border-radius: 15px;
  padding: 20px 20px;
}
form button {
  border: none;
}
.center {
  display: block;
  width: 100%;
  text-align: center;
}
.center-in-div {
  display: flex;
  width: 90%;
  padding: 0;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.testimonial-item {
  width: 50%;
  margin: 5% 10%;
  display: flex;
  box-shadow: 5px 5px 45px rgba(128, 128, 128, 0.24);
  border-radius: 50%;
}
footer {
  background-color: black;
  color: white;
  padding: 0.5%;
  text-align: center;
  margin: 0 0 -50px 0;
}
.slighty-dark {
  color: rgb(148, 144, 144);
}
.hr-contact {
  border-top: 1px solid rgba(148, 144, 144, 0.247);
  padding: 30px 20px;
  margin-bottom: 0;
}
