body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.blue-color-word {
  color: #058cf7;
}
section {
  margin: 50px 0px;
}
.sec-flex {
  display: flex;
}
#sec-about {
  background-image: url(images/bg-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.link-button {
  color: white;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #85c5fa, #058cf7);
  text-decoration: none;
  border-radius: 50px;
  font-weight: 500;
  box-shadow: 2px 2px 10px #85c5fa;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.quarter-width {
  width: 35%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
section div img {
  width: 100%;
}
.product-item-card {
  box-shadow: 5px 5px 45px rgba(128, 128, 128, 0.24);
  border-radius: 15px;
  padding: 20px 20px;
}
form button {
  border: none;
}
.center {
  display: block;
  width: 100%;
  text-align: center;
}
.center-in-div {
  display: flex;
  width: 90%;
  padding: 0;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.testimonial-item {
  width: 25%;
  margin: 5% 10%;
  display: flex;
}
